<div class="home-content">
  <app-header></app-header>
  <div class="d-flex justify-content-between" style="margin-top:20px">
    <div class="left-title">
      <div class="content">
        <div class="dinoloop">DINOLOOP</div>
        <div>REST API Library for building scalable Node.js server-side applications powered by Typescript.</div>
        <br>
        <ul>
          <li>Reuse OOP Practises in Node.js</li>
          <li>SOLID principles and Dependency Injection</li>
          <li>An Expressjs library influenced by MVC</li>
          <li>Reuse Expressjs Middlewares and codebase</li>
          <li>Developers can mix Node.js, Expressjs and Dinoloop</li>
          <li>Extensive support from Expressjs community</li>
        </ul>
        <div>
          <button routerLink="/docs" type="button" class="btn btn-orange">DOCUMENTATION</button>
        </div>
      </div>
    </div>
    <div style="width: 40%">
      <img src="/assets/running.png" />
    </div>
  </div>
</div>
