<div class="content">
  <app-header></app-header>
  <div class="card-header notification">
    Current version 2.0.0
  </div>
  <div class="d-flex justify-content-between" style="padding-top:20px;">
    <div class="left-title">
      <div class="body-content">
        <div class="dinoloop-title">DINOLOOP</div>
        <div>A lightweight REST API Library for building scalable Node.js server-side applications powered by Typescript.</div>
        <br>
        <ul>
          <li>Reuse OOP Practices in Node.js</li>
          <li>SOLID principles and Dependency Injection</li>
          <li>An Expressjs library influenced by MVC architecture</li>
          <li>Isolation of Controllers and Services for testability</li>
          <li>Write/Reuse Node.js and Expressjs codebase</li>
          <li>Extensive support from both the communities</li>
        </ul>
        <div>
          <button routerLink="/docs" type="button" class="btn btn-orange">
            GET STARTED
          </button>
        </div>
        <br>
        <div class="contibutors">
          CORE CONTRIBUTORS
          <div>
            <a title="Will Garcia" href="https://github.com/TheWillG">
              <img src="/assets/will.jpg" />
            </a>
            <a title="Contributor2" href="https://github.com/ParallelTask">
              <img src="/assets/dino.jpg" />
            </a>
            <a style="color: #444;" title="Contributor3" href="https://github.com/ParallelTask/dinoloop">
              <span>+ More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 40%">
      <img src="/assets/running.png" />
    </div>
  </div>
  <div class="card-header copyright">
    <div class="pull-left">We are proud to be part of
      <a href="https://expressjs.com/en/resources/frameworks.html">Expressjs recommended frameworks</a> and the team for their community support as always.</div>
    <div class="pull-right">COPYRIGHT &copy; 2018 - Dinoloop</div>
    <div style="clear:both;"></div>
  </div>
</div>
