<div class="content">
  <app-header></app-header>
  <div class="d-flex justify-content-between" style="padding-top:20px;">
    <div class="left-title">
      <div class="body-content">
        <div class="dinoloop-title">DINOLOOP</div>
        <div>A lightweight REST API Library for building scalable Node.js server-side applications powered by
          Typescript.</div>
        <br>
        <ul>
          <li>Reuse OOP Practices in Node.js</li>
          <li>SOLID principles and Dependency Injection</li>
          <li>An Expressjs library influenced by MVC architecture</li>
          <li>Isolation of Controllers and Services for testability</li>
          <li>Write/Reuse Node.js and Expressjs codebase</li>
          <li>Highly decoupled components for better unit and e2e testing</li>
        </ul>
        <div>
          <button routerLink="/docs" type="button" class="btn btn-orange">
            GET STARTED
          </button>
        </div>
        <br>
      </div>
    </div>
    <div style="width: 40%">
      <img src="assets/running.png" />
    </div>
  </div>
  <div class="card-header copyright">
    <!-- <div class="pull-left">We are proud to be part of
      <a href="https://expressjs.com/en/resources/frameworks.html">Expressjs listed frameworks</a> and
      for their community support as always.
    </div> -->
    <div class="pull-right">COPYRIGHT &copy; 2021 - Dinoloop</div>
    <div style="clear:both;"></div>
  </div>
</div>
