.nav-link{
    color: #444;
    font-family: Arial,sans-serif;  
}

.nav-link:hover{
    color: #ff8533;
}

.dinoloop-link{
    color: #ff8533!important;
    font-size: 36px;
    font-weight:bold;
    text-decoration: none;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Arial,sans-serif;   
}

.active-link{
    color:#ff8533;
    font-weight: bold;
}

.section-header {
    font-weight: bold;
    margin: 20px 10px 15px 0;
    font-family: Roboto,'San Francisco',Helvetica,Arial,sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.section-sub-header {
    font-weight: bold;
    margin: 20px 10px 15px 0;
    font-family: Roboto,'San Francisco',Helvetica,Arial,sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.section-content {
    text-align: justify;
    line-height: 26px;
    margin-right: 20px;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.sub-section-content{
    font-weight: bold;
}

.code-snippet-terminal{
    background: #222; 
    color:#fff;
    padding: 15px 30px; 
    font-family: "consolas"; 
    margin: 15px 0;
    border-radius: 5px 5px 5px 5px;
}

.code-snippet-terminal pre{
    color:#fff;
}

.non-nav-style-links{
    background:#eee;
    color:#2876d2; 
    padding: 5px;
}

#sidebar{
    background: #f9f9f9;
    box-shadow: inset -35px -18px 70px hsla(0,0%,91%,.65);
}

.docs-actual-content{
    border-left: 1px solid #eee;
    padding-left: 20px;
}

.remember-points{
    background-color: #ebf4fa; 
    padding: 10px 15px;
    margin: 20px 0 40px;
}

.remember-points .title {
    margin-left:5px;
    font-weight: bold; 
    font-size:18px;
}

.highlight-it{
    padding: 3px 5px;
    background: #eaeaea;
    font-weight: bold;
}
